.banner{
    background-color: #002F52;
    color: white;
    text-align: center;
    padding: 2.5em 2em;
}

.banner-titulo{
   font-weight: 700;
   font-size: 18px;
}

.banner-texto{
    font-weight: 500;
    font-size: 16px;
    padding: 1em 0;
}

.banner-pesquisa{
    width: 100%;
    border-radius: 24px;
    padding: 1em;
    background-color: transparent;
    border: 1px solid white;
}

.banner-pesquisa::placeholder{
    text-align: center;
    color: rgba(255, 255, 255, 0.548);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--fonte-principal);
    background: url('../img/Lupa.svg') no-repeat;
    background-position: 0.6em;
}

